
/* @media screen and (max-width: 600px) {
    
    } */

.logo{
   width: 125px;
   flex-direction: row;
   justify-content: flex-start;
}

.row{
    
    border: 3px brown;
    padding: 0px;
    margin: 3px;
   }
   /* header */
   .columna1{
    background-color: #353a40;
    color: antiquewhite;
    /* font-size: 50px; */
    
   }
   .columna3{
    background-color: #353a40;
    color: antiquewhite;
    /* font-size: 50px; */
    display: flex;
    align-items: center;
   }

   .columna2{
    background-color:  #353a40;
    color: antiquewhite;
    font-size: 15px;
    align-items: center;
    display: flex;
    justify-content: end;
   }

   .nav-link{
    color: white;
     }

     .tickets{
        color:chartreuse;
     }
     
   /* body */
   /* imagen grande */
   .columna_imagen_grande{
      background-color: white;
      padding: 0px;
      height: 750px; 
   }
   .fila1{
    height: 210px;
    }
    .fila2a{
        height: 250px; 
        /* background-color: blueviolet; */
    }
    .fila2b{
        height: 250px; 
        /* background-color: rgb(43, 226, 58); */
    }
    .fila2c{
        height: 250px; 
    }
    .titulo_tarjeta{
        font-size: 25px;
        display: flex;
        justify-content: right;
    }
    .botones_tarjeta{
        display: flex;
        justify-content: right;
    }
    .titulo_tarjeta{
        color: white;
    }
    .parrafo_tarjeta{
        color: white;
        text-align:right;
    }
    .btn-outline-secondary{
        color: white;
        border-color: white;
    }
   
   /* tres imagenes */
   .titulo_pequeño{
    background-color: white;
    font-size: 10px;
   }
   
   .tres_imagenes{
    background-color: white;
    }

    .alineo_tres_imagenes{
      display: flex;
      justify-content: center;
    }

   .tres_fotos{
    width: 80%;
   }

   .card-group{
    padding-left: 20px;
    padding-left: 20px;
   }

   .card{
    padding: 20px;
   }

   .alineo_botes_y_texto{
    display: block;
    justify-content: left;
    text-align: initial; 
   }

   .btn-warning  {
    font-size: 10px;
    padding: 3px 6px;
   }

   .btn-info{
    font-size: 10px;
    padding: 3px 6px;
   }
   .btn-secondary {
    font-size: 10px;
    padding: 3px 6px;
   }

   .btn-danger{
    font-size: 10px;
    padding: 3px 6px;
   }

   .card-text{
    font-size: 12px;
   }

   .imagen_y_texto{
    background-color: white;
    width: 100%;
   }

   .mb-3{
    padding: 0px;
    margin: 0px;
   }
  
   .g-0{
    margin: 0px;
    padding: 0px;
    width: 100%;
   }

    .ajusto_imagen_texto{
        padding: 0px;
        border: 0px; 
    }
   
   .col-md-6{
    background-color:#353a40;
    color: white; 
   }

   .texto_octubre{
    background-color: white;
    padding: 0px;
   }
   .alineo_texto_octubre{
        text-align: left;
   }

.btn-lightmio{
    border-color: white;
    background-color:#353a40; 
    color: white;  
  }
   
.titulos_y_formulario{
    
    background-color: white;
}
.titulo_pequeño_formulario{
    font-size: 10px;
}
.titulo_peq_form{
    font-size: 11px;
}

.col-75 {
    float: left;
    width: 100%;
    margin-top: 6px;
    background-color: white;
    }

.izquierdoForm{
    background-color: white;
    }

.derechoForm{
    background-color: white;
  }

.form-nombre{
    background-color: white;
     width: 100%;
  }

.form-apellido{
    background-color: white;
    width: 100%;
  }

.pequeño_mensaje{
    /* font-size: 10px; */
    color: grey;
    text-align: left;
  }
  
input[type=text], select, textarea {
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
input[type=submit] {
    background-color:   #96c93e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* float:inline-start; */
    width: 100%;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
   @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    } 
  }

/*  FIN DE FORMULARIO AGREGADO */
/* footer */
.btn-light{
    font-size: 14px;
    width: 110px; 
    background-color: #1d3947;
    border-color: #1d3947;
    color: white;
}

.botones_footer{
    display: flex;
    justify-content: space-between;
}
.footer{
    background-color:#1d3947;
}       
    